
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$mobileMaxWidth: 576px;
$tabletMaxWidth: 767px;

.splash {
	background: linear-gradient(to bottom right, $green, mix($green, $blue, 50));
	min-height: 100vh;

	h1.site-title {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		font-size: 2.2rem;
		a, a:hover, a:focus, a:active {
			color: white;

			.fa-layers-text {
				color: $green
			}
		}
	}

	.card {
		.card-header {
			background: $white;
		}

		.card-body {
			background: $secondary;
		}
	}
}

.container-small {
	max-width: $mobileMaxWidth;
	padding-top: 4em;
	padding-bottom: 4em;
	transition: .4s;

	@media screen and (max-width: $mobileMaxWidth) {
		padding: 0;
	}
}

h1.site-title {

	margin-top: 0px;
	margin-bottom: 2em;
	transition: .4s;
	font-size: 1.8rem;

	@media screen and (max-width: $mobileMaxWidth) {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	a, a:hover, a:focus, a:active {
		color: #000;
		font-weight: 800;
		text-decoration: none;

		.fa-layers-text {
			color: $body-bg
		}
	}
}

.card {
	border: 0;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

	.card-header {
		padding-top: 3em;
		padding-bottom: 3em;
		background: linear-gradient(to bottom right, $green, mix($green, $blue, 50));
		border: 0;
		color: $white;

		&.compact {
			padding-top: 1.2em;
			padding-bottom: 1.2em;
		}
	}

	@media screen and (max-width:540px) {
		border-radius: 0;

		.card-header, .card-body, .card-footer {
			border-radius: 0;
		}
	}
}

.lane-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.lane-square {
	position: relative;
	background-color: white;
	border-radius: 3px;
	overflow: hidden;
	width: 55px;
	height: 55px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	transition: .4s;
	margin: 0.25rem;
    flex: 0 0 auto;

	&.active {
		border: 1px $gray-600 solid;
	}

	&:hover {
		cursor: pointer;
		box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
		transform: translateY(-1px);
	}
}

.lane-id {
	background-color: $gray-600;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.9em;
	width: 20px;
	height: 20px;
}